# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
src/Services/UnitTests/test-report.html
# production
/build

# misc
debug.log
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
./public/env-config.js
./env-config.js

docker-compose*

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode/**/*
!.vscode/settings.json
!.vscode/extensions.json

.idea

*.crt
*.key

# Ignore .NET build output
**/bin/**
**/obj/**

# Ignore NuGet packages
**/packages/**
**/.vs/**

# Ignore user-specific settings
*.userprefs
*.suo
*.sln.docstates

# Ignore Visual Studio temporary files
_ReSharper.*
vssver.scc
*.vspscc
*.vssscc
vs/

# Ignore Rider-specific files (if you use Rider)
.idea/